:root{
    --color_boton1: #18507F;
    --color_boton2: #CDE8FF;

    --color_texto1: #18507F;

    --color_caja_roja: #ff5454;
    --color_caja_azul1: #2477bd;
    --color_caja_azul2: #9ED3ff;
    --color_caja_amarilla: #EFF4AC;

    --fuente_texto: 'Nunito Sans';

    --color_back_texto: #CDE8FF;
}

p,h1,h2,h3,a{
    font-family: var(--fuente_texto) !important;
}
i{
    color: #101011;
}